@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');

:root {
    --primary-color: ;
    --secondary-color: ;
    --accent-color: ;

    --heading-font: ;
    --paragraph-font: ;
}
body {
    max-width: ;
}
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1.1em;
    text-align: center;
    background-color: var(--primary-color);
}
.profile img{
    width: 75px;
    height: 100px;
    grid-column-start: 1;
    float: left;
    padding: 15px;
    border: 1px solid white;
}

h1{
    font-family: var(--heading-font);
    font-size: 35px;
    color: var(--secondary-color);
}