

:root {
    --primary-color: #6FFFE9;
    --secondary-color: black;
    --accent-color: #002BAC;

    --heading-font: ;font-family: 'Playfair Display', serif;
    --paragraph-font: ;font-family: 'Merriweather', serif;
}
body {
    max-width: 700px;
    margin: 0 auto;
}
header {
    display: grid;
    padding: 1.1em;
    text-align: center;
    background-color: var(--primary-color);
}
.profile img{
    width: auto;
    height: 100px;
    grid-column-start: 1;
    float: left;
    padding: 10px;
    border: 1px solid white;
}

h1 h2{
    font-family: var(--heading-font);
    font-size: 35px;
    color: var(--secondary-color);
}

footer{
    padding: 1.1em;
    text-align: center;
    background-color: var(--primary-color);   
}

main{
    text-align: left;
    margin-left: 100px;
}

li{
    margin: 7px;
}

.modified{
    color: var(--accent-color);
}